
* {
    /*font-family: 'Poppins', sans-serif;

    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;*/

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
/* Add this to your CSS */
html {
    box-sizing: border-box;
  }
  
  body{
    min-height: 80vh;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  th{
    font-weight: 600;
  }

  .dashboard-card {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(to right, #3494e6, #ec6ead);
    border: none;
    border-radius: 10px;
    color: #fff !important;
  }
  
  .dashboard-card:hover {
    transform: scale(1.05);
  }
  
  .dashboard-card h5 {
    margin-bottom: 0.5rem;
  }
  
  .dashboard-card p {
    margin: 0;
  }
  